<a href="https://colab.research.google.com/github/christophersingh/Mental-Health-Classification-Research-/blob/main/Copy_of_Weighted_Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np 

df = pd.read_csv('./statistically_significant_data.csv')
df

       time_period  value  ...  sentiment__positive  indicator
0              1.0   28.7  ...                 50.0        1.0
1              1.0   28.7  ...                 50.0        1.0
2              1.0   28.7  ...                 50.0        1.0
3              1.0   28.7  ...                 50.0        1.0
4              1.0   28.7  ...                 50.0        1.0
...            ...    ...  ...                  ...        ...
35779         23.0   35.8  ...                 49.0        2.0
35780         23.0   35.8  ...                 49.0        2.0
35781         23.0   35.8  ...                 49.0        2.0
35782         23.0   35.8  ...                 49.0        2.0
35783         23.0   35.8  ...                 49.0        2.0

[35784 rows x 7 columns]

In [ ]:
import pandas as pd
import numpy as np
from numpy import random
from sklearn.cluster import KMeans
from sklearn.mixture import GaussianMixture
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

In [ ]:
X = df.values
X = StandardScaler().fit_transform(X)

In [ ]:
scaler = StandardScaler()
model = KMeans(n_clusters=3, max_iter=5000, n_init=10, random_state=0) 
pipeline = make_pipeline(model)
pipeline.fit(X)
res = pipeline.predict(X)

In [ ]:
model = GaussianMixture(n_components=3, max_iter=10000, n_init=100, random_state=0) 
res2 = model.fit_predict(X)

In [ ]:
df['K-Means Cluster'] = res
df['GMM Result'] = res2
df

       time_period  value  CASE_RATE  ...  indicator  K-Means Cluster  GMM Result
0              1.0   28.7     171.46  ...        1.0                1           1
1              1.0   28.7    1554.45  ...        1.0                1           1
2              1.0   28.7    2529.03  ...        1.0                1           1
3              1.0   28.7    2552.64  ...        1.0                1           1
4              1.0   28.7    2976.74  ...        1.0                1           1
...            ...    ...        ...  ...        ...              ...         ...
35779         23.0   35.8   20207.72  ...        2.0                0           2
35780         23.0   35.8   15941.19  ...        2.0                0           2
35781         23.0   35.8    7067.11  ...        2.0                0           2
35782         23.0   35.8    7477.43  ...        2.0                0           2
35783         23.0   35.8    6302.86  ...        2.0                2           2

[35784 rows x 9 columns]

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import silhouette_score 
from sklearn.metrics import calinski_harabasz_score
from sklearn.metrics import davies_bouldin_score

print("Accuracy:",accuracy_score(df['K-Means Cluster'] , df['indicator']))
print(classification_report(df['K-Means Cluster'] , df['indicator']))
print(confusion_matrix(df['K-Means Cluster'] , df['indicator']))

Accuracy: 0.6304773082942097
              precision    recall  f1-score   support

           0       0.29      0.42      0.35      8309
           1       0.73      0.51      0.60     17094
           2       0.87      1.00      0.93     10381

    accuracy                           0.63     35784
   macro avg       0.63      0.64      0.62     35784
weighted avg       0.67      0.63      0.64     35784

[[ 3507  3255  1547]
 [ 8421  8673     0]
 [    0     0 10381]]

In [ ]:
print("Accuracy:",accuracy_score(df['GMM Result'] , df['indicator']))
print(classification_report(df['GMM Result'] , df['indicator']))
print(confusion_matrix(df['GMM Result'] , df['indicator']))

Accuracy: 0.687793427230047
              precision    recall  f1-score   support

           0       0.26      0.57      0.36      5544
           1       0.80      0.52      0.63     18312
           2       1.00      1.00      1.00     11928

    accuracy                           0.69     35784
   macro avg       0.69      0.70      0.66     35784
weighted avg       0.78      0.69      0.71     35784

[[ 3150  2394     0]
 [ 8778  9534     0]
 [    0     0 11928]]

**Weighted k-means**

https://medium.com/@dey.mallika/unsupervised-learning-with-weighted-k-means-3828b708d75d

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; 
sns.set()  # for plot styling
from sklearn.cluster import KMeans
from pandas import DataFrame
import random
from sklearn.datasets.samples_generator import make_blobs
from scipy.stats import skewnorm

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.datasets.samples_generator module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.datasets. Anything that cannot be imported from sklearn.datasets is now part of the private API.
  warnings.warn(message, FutureWarning)

In [ ]:
kmeans = KMeans(n_clusters=3, random_state=0, max_iter=5000)
X = np.array(df.drop(['indicator'], 1).astype(float))
Y = np.array(df['indicator'].astype(float))

In [ ]:
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = StandardScaler().fit_transform(X)
X = pd.DataFrame(x_scaled)

In [ ]:
wt_kmeansclus = kmeans.fit(X,sample_weight = Y)
predicted_kmeans = kmeans.predict(X, sample_weight = Y)

In [ ]:
plt.style.use('default')
plt.figure(figsize=(8, 8))
"""plt.scatter(X.loc[:,0], X.loc[:,1], c=wt_kmeansclus.labels_.astype(float),s=10,cmap='tab20b',marker='x')
plt.title('Weighted K-Means Cluster Assignments',fontsize=10)"""
centers = wt_kmeansclus.cluster_centers_
#plt.scatter(centers[:, 0], centers[:, 1], c='black', s=500, alpha=0.5);

In [ ]:
df['cluster_assignment'] = predicted_kmeans
centers = wt_kmeansclus.cluster_centers_
centersdf=pd.DataFrame(centers)
centersdf['cluster_assignment'] = centersdf.index
centersdf=centersdf.rename(columns = {0:'Weight time_period',1:'Weight value', 2:'Weight case_rate', 3:'Weight hospitalized_rate', 4:'Weight sentiment__negative', 5:'Weight sentiment__positive'})
df=df.merge(centersdf,on='cluster_assignment',how='left')
df.head()

   time_period  value  ...         6         7
0          1.0   28.7  ... -0.285642 -0.405569
1          1.0   28.7  ... -0.285642 -0.405569
2          1.0   28.7  ... -0.285642 -0.405569
3          1.0   28.7  ... -0.285642 -0.405569
4          1.0   28.7  ... -0.285642 -0.405569

[5 rows x 18 columns]

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

print("Accuracy:",accuracy_score(df['indicator'] , df['cluster_assignment']))
print(classification_report(df['indicator'] , df['cluster_assignment']))
print(confusion_matrix(df['indicator'] , df['cluster_assignment']))

Accuracy: 0.05575117370892019
              precision    recall  f1-score   support

         0.0       0.02      0.02      0.02     11928
         1.0       0.27      0.15      0.19     11928
         2.0       0.00      0.00      0.00     11928

    accuracy                           0.06     35784
   macro avg       0.10      0.06      0.07     35784
weighted avg       0.10      0.06      0.07     35784

[[  231  3241  8456]
 [    0  1764 10164]
 [10381  1547     0]]

**Get Weights**

In [ ]:
del df['cluster_assignment']
del df[6]
del df[7]
df

       time_period  ...  Weight sentiment__positive
0              1.0  ...                    0.176591
1              1.0  ...                    0.176591
2              1.0  ...                    0.176591
3              1.0  ...                    0.176591
4              1.0  ...                    0.176591
...            ...  ...                         ...
35779         23.0  ...                   -1.099392
35780         23.0  ...                   -1.099392
35781         23.0  ...                   -1.099392
35782         23.0  ...                   -1.099392
35783         23.0  ...                    0.169931

[35784 rows x 15 columns]

In [ ]:
df.describe()

        time_period  ...  Weight sentiment__positive
count  35784.000000  ...                35784.000000
mean      14.045775  ...                   -0.059015
std        6.431857  ...                    0.492563
min        1.000000  ...                   -1.099392
25%       10.000000  ...                    0.169931
50%       14.500000  ...                    0.176591
75%       20.000000  ...                    0.176591
max       23.000000  ...                    0.176591

[8 rows x 15 columns]

In [ ]:
weights = df[['Weight time_period', 'Weight value', 'Weight case_rate', 'Weight hospitalized_rate', 'Weight sentiment__negative', 'Weight sentiment__positive']].describe()
weights

       Weight time_period  ...  Weight sentiment__positive
count        35784.000000  ...                35784.000000
mean             0.057451  ...                   -0.059015
std              0.508385  ...                    0.492563
min             -0.190397  ...                   -1.099392
25%             -0.190397  ...                    0.169931
50%             -0.190397  ...                    0.176591
75%             -0.170563  ...                    0.176591
max              1.131110  ...                    0.176591

[8 rows x 6 columns]

In [ ]:
helper = weights.loc['std']
helper

Weight time_period            0.508385
Weight value                  0.979133
Weight case_rate              0.713090
Weight hospitalized_rate      0.352880
Weight sentiment__negative    0.492563
Weight sentiment__positive    0.492563
Name: std, dtype: float64

In [ ]:
helper

Weight time_period            0.508385
Weight value                  0.979133
Weight case_rate              0.713090
Weight hospitalized_rate      0.352880
Weight sentiment__negative    0.492563
Weight sentiment__positive    0.492563
Name: std, dtype: float64

In [ ]:
time_period_weight = helper['Weight time_period']
value_weight = helper['Weight value']
case_rate_weight = helper['Weight case_rate']
hospitalized_rate_weight = helper['Weight hospitalized_rate']
sentiment_negative_weight = helper['Weight sentiment__negative']
sentiment_positive_weight = helper['Weight sentiment__positive']

In [ ]:
df.drop(['K-Means Cluster', 'GMM Result', 'Weight time_period', 'Weight value', 'Weight case_rate', 'Weight hospitalized_rate', 'Weight sentiment__negative', 'Weight sentiment__positive'], axis=1, inplace=True)
df

       time_period  value  ...  sentiment__positive  indicator
0              1.0   28.7  ...                 50.0        1.0
1              1.0   28.7  ...                 50.0        1.0
2              1.0   28.7  ...                 50.0        1.0
3              1.0   28.7  ...                 50.0        1.0
4              1.0   28.7  ...                 50.0        1.0
...            ...    ...  ...                  ...        ...
35779         23.0   35.8  ...                 49.0        2.0
35780         23.0   35.8  ...                 49.0        2.0
35781         23.0   35.8  ...                 49.0        2.0
35782         23.0   35.8  ...                 49.0        2.0
35783         23.0   35.8  ...                 49.0        2.0

[35784 rows x 7 columns]

In [ ]:
indicator = list(df['indicator'])
df.drop(['indicator'], axis=1, inplace=True)
import pandas as pd
from sklearn import preprocessing

x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
df

         0         1         2         3         4         5
0      0.0  0.340102  0.000000  0.000000  0.607843  0.392157
1      0.0  0.340102  0.069024  0.035197  0.607843  0.392157
2      0.0  0.340102  0.117665  0.154911  0.607843  0.392157
3      0.0  0.340102  0.118844  0.296102  0.607843  0.392157
4      0.0  0.340102  0.140010  0.456232  0.607843  0.392157
...    ...       ...       ...       ...       ...       ...
35779  1.0  0.700508  1.000000  0.288090  0.627451  0.372549
35780  1.0  0.700508  0.787060  0.634561  0.627451  0.372549
35781  1.0  0.700508  0.344159  0.603983  0.627451  0.372549
35782  1.0  0.700508  0.364637  1.000000  0.627451  0.372549
35783  1.0  0.700508  0.306015  0.237281  0.627451  0.372549

[35784 rows x 6 columns]

In [ ]:
feature_weights = [time_period_weight, value_weight, case_rate_weight, hospitalized_rate_weight, sentiment_negative_weight, sentiment_positive_weight]

def cluster(f1, f2, f3, f4, f5, f6):
  adjusted_weight_f1 = f1 * feature_weights[0]
  adjusted_weight_f2 = f2 * feature_weights[1]
  adjusted_weight_f3 = f3 * feature_weights[2]
  adjusted_weight_f4 = f4 * feature_weights[3]
  adjusted_weight_f5 = f5 * feature_weights[4]
  adjusted_weight_f6 = f6 * feature_weights[5]
  total = adjusted_weight_f1 + adjusted_weight_f2 + adjusted_weight_f3 + adjusted_weight_f4 + adjusted_weight_f5 + adjusted_weight_f6
  return np.log(total)

clusterResult = []
for index, row in df.iterrows():
    getCluster = cluster(row[0], row[1], row[2], row[3], row[4], row[5])
    clusterResult.append(getCluster)

df['feature_weight'] = clusterResult

In [ ]:
df['indicator'] = indicator
df

         0         1         2  ...         5  feature_weight  indicator
0      0.0  0.340102  0.000000  ...  0.392157       -0.191684        1.0
1      0.0  0.340102  0.069024  ...  0.392157       -0.119675        1.0
2      0.0  0.340102  0.117665  ...  0.392157       -0.036520        1.0
3      0.0  0.340102  0.118844  ...  0.392157        0.014694        1.0
4      0.0  0.340102  0.140010  ...  0.392157        0.082872        1.0
...    ...       ...       ...  ...       ...             ...        ...
35779  1.0  0.700508  1.000000  ...  0.372549        0.916926        2.0
35780  1.0  0.700508  0.787060  ...  0.372549        0.905030        2.0
35781  1.0  0.700508  0.344159  ...  0.372549        0.763320        2.0
35782  1.0  0.700508  0.364637  ...  0.372549        0.832795        2.0
35783  1.0  0.700508  0.306015  ...  0.372549        0.687525        2.0

[35784 rows x 8 columns]

In [ ]:
df[df['indicator']==0].describe()

                  0             1  ...  feature_weight  indicator
count  11928.000000  11928.000000  ...    11928.000000    11928.0
mean       0.592990      0.539179  ...        0.431477        0.0
std        0.292365      0.129753  ...        0.217639        0.0
min        0.000000      0.243655  ...       -0.246252        0.0
25%        0.409091      0.436548  ...        0.281836        0.0
50%        0.613636      0.558376  ...        0.443400        0.0
75%        0.863636      0.624365  ...        0.587654        0.0
max        1.000000      0.741117  ...        0.844852        0.0

[8 rows x 8 columns]

In [ ]:
indicator0 = df[df['indicator']==0].describe()['feature_weight']['25%']
indicator1 = df[df['indicator']==1].describe()['feature_weight']['25%']
indicator2 = df[df['indicator']==2].describe()['feature_weight']['25%']

indicator0, indicator1, indicator2

(0.28183599677213284, -0.02747191424547771, 0.4296134921993718)

In [ ]:
weight = list(df['feature_weight'])
clusters = []
"""
.37, -1 < x < .221
"""
for x in weight:
  """if(x >= 0.37):
    clusters.append(2)
  elif(-.5< x <= 0.221):
    clusters.append(1)
  else:
    clusters.append(0)"""
  #BREAK 
  """if(-0.246252 < x < .32):
    clusters.append(1)
  elif(x < -0.246252):
    clusters.append(0)
  else:
    clusters.append(2)"""
  #Fourth Attempt
  """if(x > .399):
    clusters.append(2)
  elif(.14 < x < .39):
    clusters.append(0)
  else:
    clusters.append(1)"""
  #25th Percentile Attempt
  if( -1 < x < 0.2):
    clusters.append(1)
  elif(0.2<=x<0.45):
    clusters.append(0)
  else:
    clusters.append(2)

In [ ]:
df['clusters'] = clusters
print("Accuracy:",accuracy_score(df['indicator'] , df['clusters']))
print(classification_report(df['indicator'] , df['clusters']))
print(confusion_matrix(df['indicator'] , df['clusters']))

Accuracy: 0.5637715179968701
              precision    recall  f1-score   support

         0.0       0.40      0.37      0.38     11928
         1.0       0.79      0.61      0.69     11928
         2.0       0.54      0.72      0.62     11928

    accuracy                           0.56     35784
   macro avg       0.58      0.56      0.56     35784
weighted avg       0.58      0.56      0.56     35784

[[4361 1736 5831]
 [3276 7231 1421]
 [3150  196 8582]]

Find distance between all features

In [ ]:
df

         0         1         2  ...  feature_weight  indicator  clusters
0      0.0  0.340102  0.000000  ...       -0.191684        1.0         1
1      0.0  0.340102  0.069024  ...       -0.119675        1.0         1
2      0.0  0.340102  0.117665  ...       -0.036520        1.0         1
3      0.0  0.340102  0.118844  ...        0.014694        1.0         1
4      0.0  0.340102  0.140010  ...        0.082872        1.0         1
...    ...       ...       ...  ...             ...        ...       ...
35779  1.0  0.700508  1.000000  ...        0.916926        2.0         2
35780  1.0  0.700508  0.787060  ...        0.905030        2.0         2
35781  1.0  0.700508  0.344159  ...        0.763320        2.0         2
35782  1.0  0.700508  0.364637  ...        0.832795        2.0         2
35783  1.0  0.700508  0.306015  ...        0.687525        2.0         2

[35784 rows x 9 columns]

In [ ]:
df.drop(['feature_weight', 'clusters'], axis=1, inplace=True)
df

         0         1         2         3         4         5  indicator
0      0.0  0.340102  0.000000  0.000000  0.607843  0.392157        1.0
1      0.0  0.340102  0.069024  0.035197  0.607843  0.392157        1.0
2      0.0  0.340102  0.117665  0.154911  0.607843  0.392157        1.0
3      0.0  0.340102  0.118844  0.296102  0.607843  0.392157        1.0
4      0.0  0.340102  0.140010  0.456232  0.607843  0.392157        1.0
...    ...       ...       ...       ...       ...       ...        ...
35779  1.0  0.700508  1.000000  0.288090  0.627451  0.372549        2.0
35780  1.0  0.700508  0.787060  0.634561  0.627451  0.372549        2.0
35781  1.0  0.700508  0.344159  0.603983  0.627451  0.372549        2.0
35782  1.0  0.700508  0.364637  1.000000  0.627451  0.372549        2.0
35783  1.0  0.700508  0.306015  0.237281  0.627451  0.372549        2.0

[35784 rows x 7 columns]

In [ ]:
df['fraction'] = (df['indicator'])/(df[0] + df[1] + df[2] +df[3] + df[4] + df[5])
df

         0         1         2  ...         5  indicator  fraction
0      0.0  0.340102  0.000000  ...  0.392157        1.0  0.746212
1      0.0  0.340102  0.069024  ...  0.392157        1.0  0.692366
2      0.0  0.340102  0.117665  ...  0.392157        1.0  0.620087
3      0.0  0.340102  0.118844  ...  0.392157        1.0  0.569785
4      0.0  0.340102  0.140010  ...  0.392157        1.0  0.516437
...    ...       ...       ...  ...       ...        ...       ...
35779  1.0  0.700508  1.000000  ...  0.372549        2.0  0.501429
35780  1.0  0.700508  0.787060  ...  0.372549        2.0  0.485186
35781  1.0  0.700508  0.344159  ...  0.372549        2.0  0.548148
35782  1.0  0.700508  0.364637  ...  0.372549        2.0  0.491987
35783  1.0  0.700508  0.306015  ...  0.372549        2.0  0.616560

[35784 rows x 8 columns]

In [ ]:
df[df['indicator']==1].describe()

                  0             1  ...  indicator      fraction
count  11928.000000  11928.000000  ...    11928.0  11928.000000
mean       0.592990      0.151784  ...        1.0      0.471471
std        0.292365      0.120234  ...        0.0      0.116562
min        0.000000      0.000000  ...        1.0      0.279409
25%        0.409091      0.065990  ...        1.0      0.379180
50%        0.613636      0.152284  ...        1.0      0.460097
75%        0.863636      0.157360  ...        1.0      0.548715
max        1.000000      0.416244  ...        1.0      0.840637

[8 rows x 8 columns]

In [ ]:
df[df['indicator']==2].describe()

                  0             1  ...  indicator      fraction
count  11928.000000  11928.000000  ...    11928.0  11928.000000
mean       0.592990      0.780582  ...        2.0      0.725113
std        0.292365      0.136755  ...        0.0      0.152535
min        0.000000      0.553299  ...        2.0      0.478627
25%        0.409091      0.649746  ...        2.0      0.605128
50%        0.613636      0.756345  ...        2.0      0.714824
75%        0.863636      0.923858  ...        2.0      0.830043
max        1.000000      1.000000  ...        2.0      1.140884

[8 rows x 8 columns]

In [ ]:
weight = list(df['fraction'])
clusters = []
"""
.37, -1 < x < .221
"""
for x in weight:
  #25th Percentile Attempt
  if(x <= 0):
    clusters.append(0)
  elif(0.25<=x <= 0.47):
    clusters.append(1)
  else:
    clusters.append(2)

In [ ]:
df['clusters'] = clusters
print("Accuracy:",accuracy_score(df['indicator'] , df['clusters']))
print(classification_report(df['indicator'] , df['clusters']))
print(confusion_matrix(df['indicator'] , df['clusters']))

Accuracy: 0.8454616588419406
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00     11928
         1.0       1.00      0.54      0.70     11928
         2.0       0.68      1.00      0.81     11928

    accuracy                           0.85     35784
   macro avg       0.89      0.85      0.84     35784
weighted avg       0.89      0.85      0.84     35784

[[11928     0     0]
 [    0  6398  5530]
 [    0     0 11928]]

In [ ]:
feature_weights = [time_period_weight, value_weight, case_rate_weight, hospitalized_rate_weight, sentiment_negative_weight, sentiment_positive_weight]

def cluster(f1, f2, f3, f4, f5, f6):
  adjusted_weight_f1 = f1 * (feature_weights[0]) 
  adjusted_weight_f2 = f2 * (feature_weights[1]) 
  adjusted_weight_f3 = f3 * (feature_weights[2])
  adjusted_weight_f4 = f4 * (feature_weights[3]) 
  adjusted_weight_f5 = f5 * (feature_weights[4])
  adjusted_weight_f6 = f6 * (feature_weights[5]) 
  total = adjusted_weight_f1 + adjusted_weight_f2 + adjusted_weight_f3 + adjusted_weight_f4 + adjusted_weight_f5 + adjusted_weight_f6
  return (np.log(total))

clusterResult = []
for index, row in df.iterrows():
    getCluster = cluster(row[0], row[1], row[2], row[3], row[4], row[5])
    clusterResult.append(getCluster)

df['feature_weight'] = clusterResult

In [ ]:
feature_weights = [time_period_weight, value_weight, case_rate_weight, hospitalized_rate_weight, sentiment_negative_weight, sentiment_positive_weight]

def cluster(f1, f2, f3, f4, f5, f6):
  adjusted_weight_f1 = f1 * (feature_weights[0]) 
  adjusted_weight_f2 = f2 * (feature_weights[1]) 
  adjusted_weight_f3 = f3 * (feature_weights[2])
  adjusted_weight_f4 = f4 * (feature_weights[3]) 
  adjusted_weight_f5 = f5 * (feature_weights[4])
  adjusted_weight_f6 = f6 * (feature_weights[5]) 
  #total = adjusted_weight_f1 + adjusted_weight_f2 + adjusted_weight_f3 + adjusted_weight_f4 + adjusted_weight_f5 + adjusted_weight_f6
  return adjusted_weight_f1, adjusted_weight_f2, adjusted_weight_f3, adjusted_weight_f4, adjusted_weight_f5, adjusted_weight_f6

clusterResult = []
weightF1, weightF2, weightF3, weightF4, weightF5,weightF6 = [],[],[],[],[],[]
for index, row in df.iterrows():
    f1, f2, f3, f4, f5, f6 = cluster(row[0], row[1], row[2], row[3], row[4], row[5])
    weightF1.append(f1)
    weightF2.append(f2)
    weightF3.append(f3)
    weightF4.append(f4)
    weightF5.append(f5)
    weightF6.append(f6)
    
new_df = pd.DataFrame(list(zip(weightF1, weightF2, weightF3, weightF4, weightF5, weightF6, df['indicator'].values)),columns =['time_period', 'value', 'case_rate','hospitalized_rate','negative_tweets','positive_tweets', 'indicator'])
#df['feature_weight'] = clusterResult
new_df

       time_period     value  ...  positive_tweets  indicator
0         0.000000  0.333005  ...         0.193162        1.0
1         0.000000  0.333005  ...         0.193162        1.0
2         0.000000  0.333005  ...         0.193162        1.0
3         0.000000  0.333005  ...         0.193162        1.0
4         0.000000  0.333005  ...         0.193162        1.0
...            ...       ...  ...              ...        ...
35779     0.508385  0.685890  ...         0.183504        2.0
35780     0.508385  0.685890  ...         0.183504        2.0
35781     0.508385  0.685890  ...         0.183504        2.0
35782     0.508385  0.685890  ...         0.183504        2.0
35783     0.508385  0.685890  ...         0.183504        2.0

[35784 rows x 7 columns]

**New_DF Try Here**

In [ ]:
new_df[new_df['indicator']==2].describe()

        time_period         value  ...  positive_tweets  indicator
count  11928.000000  11928.000000  ...     11928.000000    11928.0
mean       0.301467      0.764293  ...         0.186361        2.0
std        0.148634      0.133902  ...         0.086478        0.0
min        0.000000      0.541754  ...         0.000000        2.0
25%        0.207976      0.636188  ...         0.125555        2.0
50%        0.311963      0.740562  ...         0.183504        2.0
75%        0.439060      0.904580  ...         0.241453        2.0
max        0.508385      0.979133  ...         0.492563        2.0

[8 rows x 7 columns]

Assumption: This is a mental health paper and we can assume that the CDC data is still more important than both the NYC COVID-19 and Twitter datasets

In [ ]:
new_df.describe()

        time_period         value  ...  positive_tweets     indicator
count  35784.000000  35784.000000  ...     35784.000000  35784.000000
mean       0.301467      0.480279  ...         0.186361      1.000000
std        0.148630      0.283353  ...         0.086476      0.816508
min        0.000000      0.000000  ...         0.000000      0.000000
25%        0.207976      0.154077  ...         0.125555      0.000000
50%        0.311963      0.546724  ...         0.183504      1.000000
75%        0.439060      0.700801  ...         0.241453      2.000000
max        0.508385      0.979133  ...         0.492563      2.000000

[8 rows x 7 columns]

In [ ]:
value = new_df['value'].values
clusters = []
#Min/max +/- standard deviation to get the thresholds
for x in value:
  if (0 <= x <=.38):
    clusters.append(1)
  elif (.38 < x < .614):
    clusters.append(0)
  else:
    clusters.append(2)

new_df['clusters'] = clusters

In [ ]:
print("Accuracy:",accuracy_score(new_df['indicator'] , new_df['clusters']))
print(classification_report(new_df['indicator'] , new_df['clusters']))
print(confusion_matrix(new_df['indicator'] , new_df['clusters']))

Accuracy: 0.8615023474178404
              precision    recall  f1-score   support

         0.0       0.85      0.70      0.77     11928
         1.0       0.93      0.95      0.94     11928
         2.0       0.81      0.93      0.86     11928

    accuracy                           0.86     35784
   macro avg       0.86      0.86      0.86     35784
weighted avg       0.86      0.86      0.86     35784

[[ 8400   882  2646]
 [  588 11340     0]
 [  840     0 11088]]

In [ ]:
new_df['indicator'] = new_df['indicator'] + 1
new_df['clusters'] = new_df['clusters'] + 1

In [ ]:
import math
def get_entropys(df_clustered, label_col_name='indicator', cluster_col_name='cluster', cluster_values=range(1,3,1)):
    p = [[round(df_clustered[(df_clustered[label_col_name]==label) & (df_clustered[cluster_col_name]==cluster)].shape[0]/
                df_clustered[df_clustered[cluster_col_name]==cluster].shape[0],3) for label in cluster_values] for cluster in cluster_values]
    p_log_p = [[p_i*math.log(p_i) for p_i in p_i_s if p_i!=0] for p_i_s in p]
    e = [-round(sum(p_log_p_i),3) for p_log_p_i in p_log_p]
    return e
  
entropys_5 = get_entropys(new_df, label_col_name='indicator', cluster_col_name='clusters', cluster_values=range(1,3,1))
print("Clusters' Entropy")
print("Entropy: {0:.3f}".format(min(entropys_5)))

Clusters' Entropy
Entropy: 0.259

In [ ]:
new_df['indicator'] = new_df['indicator'] - 1
new_df['clusters'] = new_df['clusters'] - 1

In [ ]:
import numpy as np
from sklearn import metrics

def purity_score(y_true, y_pred):
    # compute contingency matrix (also called confusion matrix)
    contingency_matrix = metrics.cluster.contingency_matrix(y_true, y_pred)
    # return purity
    return np.sum(np.amax(contingency_matrix, axis=0)) / np.sum(contingency_matrix) 

purity = purity_score(new_df['indicator'], new_df['clusters'])
print("The purity is:",purity)

The purity is: 0.8615023474178404

In [ ]:
from sklearn.metrics.cluster import v_measure_score
v_measure = v_measure_score(new_df['indicator'], new_df['clusters'])
print("The v_measure is:",v_measure)

The v_measure is: 0.6226071463542034

In [ ]:
from sklearn.metrics.cluster import adjusted_rand_score
randScore = adjusted_rand_score(new_df['indicator'], new_df['clusters'])
print("The rand_score is:",randScore)

The rand_score is: 0.6509110504747214

In [ ]:
new_df.drop(['indicator'], axis=1, inplace=True)

In [ ]:
from sklearn.metrics import silhouette_score 
from sklearn.metrics import calinski_harabasz_score
from sklearn.metrics import davies_bouldin_score

score_kemans_s = silhouette_score(new_df, clusters, metric='euclidean')
score_kemans_c = calinski_harabasz_score(new_df, clusters)
score_kemans_d = davies_bouldin_score(new_df, clusters)
print('Silhouette Score: %.4f' % score_kemans_s)
print('Calinski Harabasz Score: %.4f' % score_kemans_c)
print('Davies Bouldin Score: %.4f' % score_kemans_d)

Silhouette Score: 0.7032
Calinski Harabasz Score: 184390.7946
Davies Bouldin Score: 0.4429

In [ ]:
new_df['indicator'] = df['indicator']
new_df

       time_period     value  ...   testing  testing_normalized
0         0.000000  0.333005  ...  0.825568           -1.244770
1         0.000000  0.333005  ...  0.887209           -1.178929
2         0.000000  0.333005  ...  0.964139           -1.090853
3         0.000000  0.333005  ...  1.014803           -1.029037
4         0.000000  0.333005  ...  1.086403           -0.936159
...            ...       ...  ...       ...                 ...
35779     0.508385  0.685890  ...  2.501590            3.253975
35780     0.508385  0.685890  ...  2.472007            3.092652
35781     0.508385  0.685890  ...  2.145388            1.595516
35782     0.508385  0.685890  ...  2.299738            2.242392
35783     0.508385  0.685890  ...  1.988787            1.033691

[35784 rows x 10 columns]

In [ ]:
new_df['testing'] = new_df['value'] + new_df['case_rate'] + new_df['time_period']
new_df

       time_period     value  ...   testing  testing_normalized
0         0.000000  0.333005  ...  0.333005            0.238718
1         0.000000  0.333005  ...  0.382225            0.265306
2         0.000000  0.333005  ...  0.416910            0.284042
3         0.000000  0.333005  ...  0.417751            0.284496
4         0.000000  0.333005  ...  0.432844            0.292649
...            ...       ...  ...       ...                 ...
35779     0.508385  0.685890  ...  1.907365            0.885654
35780     0.508385  0.685890  ...  1.755519            0.803630
35781     0.508385  0.685890  ...  1.439691            0.633026
35782     0.508385  0.685890  ...  1.454294            0.640914
35783     0.508385  0.685890  ...  1.412491            0.618333

[35784 rows x 10 columns]

In [ ]:
new_df[new_df['indicator']==2].describe()

        time_period         value  ...       testing  testing_normalized
count  11928.000000  11928.000000  ...  11928.000000        11928.000000
mean       0.301467      0.764293  ...      1.213419            0.638372
std        0.148634      0.133902  ...      0.305186            0.130900
min        0.000000      0.541754  ...      0.685983            0.396563
25%        0.207976      0.636188  ...      0.984608            0.525429
50%        0.311963      0.740562  ...      1.167033            0.620496
75%        0.439060      0.904580  ...      1.450570            0.750850
max        0.508385      0.979133  ...      2.014349            1.000000

[8 rows x 10 columns]

In [ ]:
import pandas as pd
from sklearn import preprocessing

x = new_df[['testing','indicator']].values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df_x = pd.DataFrame(x_scaled)
new_df['testing_normalized'] = df_x[0]
new_df

       time_period     value  ...   testing  testing_normalized
0         0.000000  0.333005  ...  0.326056            0.238718
1         0.000000  0.333005  ...  0.361154            0.265306
2         0.000000  0.333005  ...  0.385888            0.284042
3         0.000000  0.333005  ...  0.386487            0.284496
4         0.000000  0.333005  ...  0.397251            0.292649
...            ...       ...  ...       ...                 ...
35779     0.508385  0.685890  ...  1.180075            0.885654
35780     0.508385  0.685890  ...  1.071796            0.803630
35781     0.508385  0.685890  ...  0.846581            0.633026
35782     0.508385  0.685890  ...  0.856995            0.640914
35783     0.508385  0.685890  ...  0.827185            0.618333

[35784 rows x 10 columns]

In [ ]:
new_df[new_df['indicator']==1].describe()

        time_period         value  ...       testing  testing_normalized
count  11928.000000  11928.000000  ...  11928.000000        11928.000000
mean       0.301467      0.148617  ...      0.250809            0.181717
std        0.148634      0.117725  ...      0.146577            0.111035
min        0.000000      0.000000  ...      0.010925            0.000000
25%        0.207976      0.064613  ...      0.135978            0.094730
50%        0.311963      0.149107  ...      0.213654            0.153571
75%        0.439060      0.154077  ...      0.352819            0.258991
max        0.508385      0.407558  ...      0.722137            0.538757

[8 rows x 10 columns]

In [ ]:
value = new_df['testing_normalized'].values
clusters = []
for x in value:
  if (0 <= x < 0.170599):
    clusters.append(1)
  elif (0.170599 <= x < .53):
    clusters.append(0)
  else:
    clusters.append(2)

new_df['clusters'] = clusters

In [ ]:
print("Accuracy:",accuracy_score(new_df['indicator'] , new_df['clusters']))
print(classification_report(new_df['indicator'] , new_df['clusters']))
print(confusion_matrix(new_df['indicator'] , new_df['clusters']))

Accuracy: 0.6494522691705791
              precision    recall  f1-score   support

         0.0       0.48      0.71      0.57     11928
         1.0       1.00      0.53      0.69     11928
         2.0       0.71      0.72      0.71     11928

    accuracy                           0.65     35784
   macro avg       0.73      0.65      0.66     35784
weighted avg       0.73      0.65      0.66     35784

[[8421    0 3507]
 [5635 6265   28]
 [3374    0 8554]]

In [ ]:
new_df.drop(['indicator','clusters'], axis=1, inplace=True)

In [ ]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
principalComponents = pca.fit_transform(new_df)

principalDf = pd.DataFrame(data = principalComponents
             , columns = ['PC1', 'PC2'])

df = pd.concat([principalDf, df[['indicator']]], axis = 1)
df

            PC1       PC2  indicator
0     -0.171895 -0.329078        1.0
1     -0.169432 -0.299946        1.0
2     -0.167251 -0.272205        1.0
3     -0.166549 -0.261024        1.0
4     -0.165092 -0.240743        1.0
...         ...       ...        ...
35779  0.242882  0.450878        2.0
35780  0.237420  0.395587        2.0
35781  0.222533  0.223500        2.0
35782  0.225074  0.261443        2.0
35783  0.219541  0.181014        2.0

[35784 rows x 3 columns]

In [ ]:
import math

df['distance'] = (df['PC1'] + df['PC2'])/2
df

            PC1       PC2  indicator  distance
0     -0.171895 -0.329078        1.0 -0.250486
1     -0.169432 -0.299946        1.0 -0.234689
2     -0.167251 -0.272205        1.0 -0.219728
3     -0.166549 -0.261024        1.0 -0.213786
4     -0.165092 -0.240743        1.0 -0.202918
...         ...       ...        ...       ...
35779  0.242882  0.450878        2.0  0.346880
35780  0.237420  0.395587        2.0  0.316504
35781  0.222533  0.223500        2.0  0.223017
35782  0.225074  0.261443        2.0  0.243259
35783  0.219541  0.181014        2.0  0.200278

[35784 rows x 4 columns]

In [ ]:
helper = list(df['indicator'].values)
cluster = []

In [ ]:
df[df['indicator']==1].describe()

                PC1           PC2  indicator      distance
count  11928.000000  11928.000000    11928.0  11928.000000
mean      -0.330744      0.023125        1.0     -0.153810
std        0.117237      0.174711        0.0      0.103182
min       -0.483416     -0.370622        1.0     -0.389571
25%       -0.413234     -0.095502        1.0     -0.230801
50%       -0.337953      0.018732        1.0     -0.176013
75%       -0.294851      0.132367        1.0     -0.082413
max       -0.048902      0.541164        1.0      0.128628

In [ ]:
df[df['indicator']==2].describe()

                PC1           PC2  indicator      distance
count  11928.000000  11928.000000    11928.0  11928.000000
mean       0.283228     -0.019803        2.0      0.131712
std        0.138109      0.171177        0.0      0.126296
min        0.042941     -0.410411        2.0     -0.133721
25%        0.139774     -0.133792        2.0      0.036804
50%        0.245115     -0.025389        2.0      0.115242
75%        0.433614      0.083953        2.0      0.236446
max        0.515664      0.504084        2.0      0.439277

In [ ]:
df[df['indicator']==0].describe()

                PC1           PC2  indicator      distance
count  11928.000000  11928.000000    11928.0  11928.000000
mean       0.047517     -0.003322        0.0      0.022097
std        0.130573      0.171683        0.0      0.122078
min       -0.265105     -0.392044        0.0     -0.320422
25%       -0.070068     -0.117319        0.0     -0.066994
50%        0.071558     -0.010410        0.0      0.022305
75%        0.133530      0.101753        0.0      0.121839
max        0.262885      0.516213        0.0      0.291760